.kenburns-top {
	-webkit-animation: kenburns-top 10s ease-out both;
	        animation: kenburns-top 10s ease-out both;
}


@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.15) translateY(-10px);
            transform: scale(1.15) translateY(-10px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.15) translateY(-10px);
            transform: scale(1.15) translateY(-10px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}



.slide-top {
	-webkit-animation: slide-top 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50x);
            transform: translateY(-50px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}



.slide-right {
	-webkit-animation: slide-right 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}



@media only screen and (max-width: 600px) {
  @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
}